body{
    background-color:rgb(8, 7, 7);
    color:white;
    display:grid;
    height: 2000px;
    width: 1000px;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr 1fr;
    text-align:center;
    justify-items:center;
}
.first{
    grid-area:2/3/2/6;
    max-height: 100%;
}
.second{
    grid-area:4/3/4/6;
    max-height: 100%;
}
.third{
    grid-area:6/3/6/6;
    max-height: 100%;
}
.fourth{
    grid-area:8/3/8/6;
    max-height: 100%;
}
.fifth{
    grid-area:10/3/10/6;
    max-height: 100%;
}
h1{
    grid-area:1/3/1/3
}
h2{
    grid-area:3/3/3/3
}
h3{
    grid-area:5/3/5/3
}
h4{
    grid-area:7/3/7/3
}
h5{
    grid-area:9/3/9/3
}
.stars{
    grid-area:1/2/5/5;
    width:100%;
    height:100%;
}
.pic_one{
    grid-area:1/1/1/1;
    width:100px;
}